@model Polycore.Models.NewsArticle
@{
    ViewBag.Title = "Add news article";
    if (!User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Error.cshtml";
    }
}
<div class="span12">
    <div class="template-wrapper">
        <div class="block block-page_header_block span12 first ">
            <div class="span12 block-title centered">
                <h2>News articles</h2>
                <p>Here you can add, edit and remove news articles? <small><i>Cool!</i></small></p>
            </div>
            <div class="span12 block-divider"></div>
        </div>
    </div>
    <div class="block block-column_block span12 first cf">
        <!-- Latest news -->
        <div class="block span12 first cf">
            <div class="title-wrapper">
                <h3 class="widget-title">
                    <i class="fa fa-users"></i>
                    Add news article
                </h3>
                <div class="clear"></div>
            </div>
            <div class="wcontainer">
                @using (Html.BeginForm("AddNewsArticle", "Admin", FormMethod.Post))
                {
                    if (ViewBag.Controller == "AddArticle")
                    {
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    }
                    @Html.AntiForgeryToken()
                    <div>
                        <b>Title</b><br />
                        @Html.TextBoxFor(m => m.Title)                                               
                    </div>                    
                    <div>
                        <b>Content</b><br />
                        @Html.TextAreaFor(m => m.Content, new { id = "Textarea" })
                    </div>
                    <div>
                        <b>Hide article?</b><br />
                        @Html.CheckBoxFor(m => m.Hide)
                    </div>
                    <br />
                    <div>
                        <input type="submit" value="Add" class="button-green button-small">
                        @Html.ActionLink("Back", "NewsArticles", null, new { @class = "actionlink" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

