@model IEnumerable<Polycore.Models.PostModel>
@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<table class="tableUsers" id="select">
    <tr>
        <th>Title</th>
        <th>Posted</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td @*onclick="location.href = '@(Url.Action("DetailsPost", new { id = item.PostID}))'"*@>@item.Title</td>
            <td @*onclick="location.href = '@(Url.Action("DetailsPost", new { id = item.PostID }))'"*@>@item.Posted</td>
            <td>
               @Ajax.ActionLink("Verwijderen", "DeletePost", new { id = item.PostID }, new AjaxOptions
               {
                   Confirm = "Are you sure post: " + item.Title + " must be deleted?",
                   HttpMethod = "Post",
                   OnSuccess = "window.location.reload()"
               })
            </td>
        </tr>
    }
</table>
<br />
<p>
    @Html.ActionLink("Back", "Dashboard")
</p>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.js")
    @*@Scripts.Render("~/Scripts/SelectBar.js")*@
}
