@model Polycore.Models.PostModel

@{
    ViewBag.Title = "Forum";
}

<h2>@Model.Title</h2>

<div>
    @Model.Content
</div>
<br />
<div>
    Likes: @Model.Likes <br />
    DisLikes: @Model.Dislikes<br />
    Posted: @Model.Posted<br />
    PostedBy: @Model.User.UserName<br />    
</div>

<h2>Comments</h2>

<h5>Add comment</h5>
<div>
    @using (Html.BeginForm("AddComment", "Home", new { id = Model.PostID }))
    {
        @Html.AntiForgeryToken()      

        @Html.TextAreaFor(m => m.Comment.Content, new { id = "Textarea" })
        
        @Html.HiddenFor(m => m.Comment.Commented, new { Value = DateTime.Now.ToString("dd-MM-yyyy") })
        <br />
        <input type="submit" value="Add" />
    }
</div>

<p class="hr"><hr /></p>

<div>
    @foreach (var item in Model.Comments)
    {
        <div>
            @item.Content
       </div>
       <br />
       <div>
           PostedBy:  @item.User.UserName<br />
           PostedOn: @item.Commented<br />
           Likes: @item.Likes<br />
           DisLikes: @item.Dislikes
       </div>

       <p class="hr"><hr /></p>
    }
</div>