@using Polycore.Models
@{
    ViewBag.Title = "Home Page";
    var db = new ApplicationDbContext();
}

<div class="span12 block-title centered">
    <h2>Polycore</h2>
    <p>The all new gamer-focused social media!</p>
</div>

<div class="span12 block-divider"></div>

<div class="block block-column_block span8 first cf">
    <!-- Latest news -->
    <div class="block span12 first cf">
        <div class="title-wrapper">
            <h3 class="widget-title">
                <i class="fa fa-book"></i> 
                latest news
            </h3>
            <div class="clear"></div>
        </div>
        <div class="wcontainer">@*
    @foreach (var article in db.NewsArticles)
    {
        <div class="span12">
            <h2>@article.Title</h2>
            <p>
                @article.Content
            </p>
        </div>
        <div class="blog-info">
            <div class="post-pinfo">
                <span class="icon-user"></span> <a>@article.User.UserName</a> &nbsp;
                <span class="icon-comment"></span>  <a data-original-title="@article.Comments.Count() Comments" href="#" data-toggle="tooltip">@article.Comments.Count() Comments</a> &nbsp;
                <span class="fa fa-fw fa-calendar"></span>    <a href="#">@article.Comments.Count() </a>
            </div>
            <div class="clear"></div>
        </div>
    }*@
            
            <div class="clear"></div>
        </div>
    </div>
    <!-- End Latest News -->
</div>

<div class="block block-column_block span4 cf">
    <!-- Latest news -->
    <div class="block span12 cf">
        <div class="title-wrapper">
            <h3 class="widget-title">
                <i class="fa fa-twitter"></i> 
                Twitter
            </h3>
            <div class="clear"></div>
        </div>
        <div class="wcontainer">
            <a class="twitter-timeline" href="https://twitter.com/yogscast" data-widget-id="671282093608054784">Tweets by @@yogscast</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <div class="clear"></div>
        </div>
    </div>
    <!-- End Latest News -->
</div>