@model Polycore.Models.ForumIndexViewModel

@{
    ViewBag.Title = "Forum";
}

<h2>Forum >
    @Html.ActionLink(Model.PlatformName, "Platforms", "Forum") > 
    @Html.ActionLink(Model.GameName, "Games", new { id = Model.PlatformID }) >
    @Html.ActionLink(Model.SubjectName, "Subjects", new { id = Model.GameID })    
</h2>

<h5>@Model.PostTitle</h5>

<div>
    @Model.PostContent
</div>
<br />
<div>
    <b>Likes:</b> @Model.PostLikes <br />
    <b>DisLikes:</b> @Model.PostDislikes<br />
    <b>Posted:</b> @Model.PostDate<br />
    <b>PostedBy:</b> @Model.PostUserName<br />
    <b>Game also available on other platforms:</b> 
    @foreach (var item in Model.Games)
    {
        if (item.Platform.Name != Model.PlatformName)
        {
            <br />
            <text>- </text>@Html.ActionLink(item.Platform.Name, "Subjects", new { id = item.GameID })
        }
        else if (Model.Games.Count() == 1)
        {            
            <br />
            <text>No other platforms available.</text>
        }
    }
</div>

<h2>Comments</h2>

@if (User.Identity.IsAuthenticated)
{
<h5>Add comment</h5>
<div>
    @using (Html.BeginForm("AddComment", "Forum", new { subjectID = Model.SubjectID, postID = Model.PostID }))
    {
        if (ViewBag.Controller == "Forum")
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
        }
        @Html.AntiForgeryToken()
        <div>
            @Html.TextAreaFor(m => m.CommentContent, new { id = "Textarea" })
        </div>
        <input type="submit" value="Add" />
    }
</div>
}
else
{
    <h5>Login to add comment</h5>
}

<p class="hr"><hr /></p>

<div>
    @foreach (var item in Model.Comments.OrderByDescending(c => c.CommentID))
    {
        <div>
            <b>PostedBy:</b> @item.User.UserName<br />
            <b>PostedOn:</b> @item.Commented<br />
        </div>
        <br />
        <div>
            @item.Content
        </div>
        <br />
        <div>
            <b>Likes:</b> @item.Likes<br />
            <b>DisLikes:</b> @item.Dislikes
        </div>

        <p class="hr"><hr /></p>
    }
</div>