@model Polycore.Models.ForumViewModel

@{
    ViewBag.Title = "Forum";
}

<h2>@Html.ActionLink(Model.PlatformName, "Platforms", "Forum") --> 
    @Html.ActionLink(Model.GameName, "Games", new { id = Model.PlatformID }) -->
    @Html.ActionLink(Model.SubjectName, "Subjects", new { id = Model.GameID }) -->
    @Model.PostTitle
</h2>

<div>
    @Model.PostContent
</div>
<br />
<div>
    Likes: @Model.PostLikes <br />
    DisLikes: @Model.PostDislikes<br />
    Posted: @Model.PostDate<br />
    PostedBy: @Model.PostUserName<br />
</div>

<h2>Comments</h2>

<h5>Add comment</h5>
<div>
    @using (Html.BeginForm("AddComment", "Home", new { id = Model.PostID }))
    {
        @Html.AntiForgeryToken()

        @Html.TextAreaFor(m => m.CommentContent, new { id = "Textarea" })
        <br />
        <input type="submit" value="Add" />
    }
</div>

<p class="hr"><hr /></p>

<div>
    @foreach (var item in Model.Comments)
    {
        <div>
            @item.Content
        </div>
        <br />
        <div>
            PostedBy:  @item.User.UserName<br />
            PostedOn: @item.Commented<br />
            Likes: @item.Likes<br />
            DisLikes: @item.Dislikes
        </div>

        <p class="hr"><hr /></p>
    }
</div>