<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@ViewBag.Title | Polycore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/Content/img/favicon.png">
    @Styles.Render("~/Content/css")
    <!-- CSS -->
</head>
<body class="home page page-id-26 page-template page-template-tmp-no-title-php">
    <div id="main_wrapper">
        <div class="container logo">
            <!-- Logo -->
            <a class="brand" href="@Url.Action("Index", "Home", new { area = "" })">
                <img src="/Content/img/logo.png" alt="logo" />
            </a>
            <!-- End Logo -->
            <div class="clear"></div>
        </div>
        <!-- NAVBAR -->
        <div class="navbar navbar-inverse container">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <div class="menu-main-container">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Index", "Home", new { area = "" })">Home</a>
                            </li>
                            <li>
                                <a href="@Url.Action("About", "Home", new { area = "" })">About</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Home", new { area = "" })">Contact</a>
                            </li>
                        </ul>
                    </div>                                      
                    <div style="float: right" class="span13">
                        @Html.Partial("_LoginPartial")
                    </div>                     
                    <form method="get" id="header-searchform" action="http://skywarriorthemes.com/gameaddict/">
                        <input autocomplete="off" value="" name="s" id="header-s" type="text">
                        <input id="header-searchsubmit" value="Search" type="submit">
                    </form>                 
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.navbar-inner -->
        </div>
        <div id="myModalL" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Login</h3>
            </div>
            <div class="modal-body">
                <div id="LoginWithAjax" class="default">
                    <span id="LoginWithAjax_Status"></span>
                    <form name="LoginWithAjax_Form" id="LoginWithAjax_Form" action="http://skywarriorthemes.com/gameaddict/wp-login.php?callback=?&amp;template=" method="post">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr id="LoginWithAjax_Username">
                                <td class="username_input">
                                    <input name="log" placeholder="Username" id="lwa_user_login" class="input" value="" type="text">
                                </td>
                            </tr>
                            <tr id="LoginWithAjax_Password">
                                <td class="password_input">
                                    <input placeholder="Password" name="pwd" id="lwa_user_pass" class="input" value="" type="password">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                            <tr id="LoginWithAjax_Submit">
                                <td id="LoginWithAjax_SubmitButton">
                                    <input name="rememberme" id="lwa_rememberme" value="forever" type="checkbox"> <label>Remember Me</label>
                                    <a href="#" title="Password Lost and Found">Lost your password?</a>
                                    <br><br>
                                    <input class="button-small" value="Log In" type="submit">
                                    <a class="reg-btn button-small" href="~/Account/Register">Register</a>
                                    <input name="redirect_to" value="#" type="hidden">
                                    <input name="testcookie" value="1" type="hidden">
                                    <input name="lwa_profile_link" value="" type="hidden">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    <div class="page normal-page container">
        <div class="row">
            <div class="span12">
                <div class="template-wrapper">
                    <div class="span12">
                        @RenderBody()
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
        </div>
        <footer class="container">
            <div class="span12">
               
            </div>
            <div class="copyright span12">
                <div class="social">
                    <a data-original-title="Rss" data-toggle="tooltip" class="rss" target="_blank" href="#"><i class="fa fa-rss"></i></a>
                    <a data-original-title="Dribbble" data-toggle="tooltip" class="dribbble" target="_blank" href="#"><i class="fa fa-dribbble"></i> </a>
                    <a data-original-title="Vimeo" data-toggle="tooltip" class="vimeo" target="_blank" href="#"><i class="fa fa-vimeo-square"></i> </a>
                    <a data-original-title="Youtube" data-toggle="tooltip" class="youtube" target="_blank" href=""><i class="fa fa-youtube"></i> </a>
                    <a data-original-title="Twitch" data-toggle="tooltip" class="twitch" target="_blank" href=""><i class="fa fa-gamepad"></i></a>
                    <a data-original-title="Linked in" data-toggle="tooltip" class="linked-in" target="_blank" href="#"><i class="fa fa-linkedin"></i> </a>
                    <a data-original-title="Google plus" data-toggle="tooltip" class="google-plus" target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                    <a data-original-title="Twitter" data-toggle="tooltip" class="twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    <a data-original-title="Facebook" data-toggle="tooltip" class="facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </footer>
    <!-- JavaScript -->
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    <script>
		jQuery("#layerslider").layerSlider({
			pauseOnHover: false,
			autoPlayVideos: false,
			skinsPath: './layerslider/skins/',
			responsive : true,
			responsiveUnder : 1200,
			layersContainer : 1200,
			skin_name: 'fullwidth',
			navStartStop: false
		});
    </script>
    <!-- End JavaScript -->
</body>
</html>