@using Microsoft.AspNet.Identity
<div class="menu-main-container">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" onclick="event.preventDefault();" id="dLabel">
                <img src="/Content/img/account.png">
            </a>
            <ul class="sub-menu dropdown-menu pull-left">
                @if (Request.IsAuthenticated) // If the user is logged in correctly.
                {
                    <li>
                        <a href="@Url.Action("Index", "Profile")">@User.Identity.GetUserName()</a>
                    </li>
                    if (User.IsInRole("Administrator"))
                    {
                         <li>
                             <a href="@Url.Action("Dashboard", "Admin")">Admin Dashboard</a>

                         </li>
                    }
                    <li>@*This executes the form below. Didn't put it here because of styling issues*@
                        <a href="#" onclick="document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                }
                else //Otherwise
                {
                    <li><a tabindex="-1" href="@Url.Action("Login", "Account")">Log in</a></li>
                    <li><a tabindex="-1" href="@Url.Action("Register", "Account")">Register</a></li>
                }
            </ul>
        </li>
    </ul>
</div>
@*Logoff form*@
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class="hidden"}))
{
    @Html.AntiForgeryToken()
}