@using Polycore.Models.Views
@model Polycore.Models.Views.RegisterViewModel
@{
    ViewBag.Title = "Log In";
}
<div class="span12 block-title centered">
    <h2>Welcome Back!</h2>
    <p>Stuff stuff</p>
</div>
<div class="span12 block-divider"></div>
<div class="block block-contactform_block span6 first cf">
    <div class="title-wrapper">
        <h3 class="widget-title"><i class="fa fa-user"></i> Log In</h3>
        <div class="clear"></div>
    </div>
    <div class="wcontainer">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "contact", role = "form", novalidate = "novalidate" }))
        {
            if (ViewBag.Controller == "Login")
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })
            }
            @Html.AntiForgeryToken()
            <ul class="contactform controls">
                <li class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(m => m.Username, new { @class = "required requiredField", placeholder = "Username or Email" })
                </li>
                <li class="input-prepend">
                    <span class="add-on"><i class="icon-asterisk"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "required requiredField", placeholder = "Password" })
                </li>
                <li>
                    <input type="submit" class="button-green button-small" value="Log In">
                </li>
            </ul>
            <input type="hidden" name="submitted" id="submitted" value="true">
            <div class="ForgotPass">
                @*Enable this once you have account confirmation enabled for password reset functionality*@
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            </div>
        }
    </div>
</div>
<div class="block block-contactform_block span6 cf">
    <div class="title-wrapper">
        <h3 class="widget-title"><i class="fa fa-user"></i> Register</h3>
        <div class="clear"></div>
    </div>
    <div class="wcontainer">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "contact", role = "form", novalidate = "novalidate" }))
        {
            if (ViewBag.Controller == "Register")
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })
            }
            @Html.AntiForgeryToken()
            <ul class="contactform controls">
                <li class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(m => m.Username, new { @class = "required requiredField", placeholder = "Username" })
                </li>
                <li class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "required requiredField email", placeholder = "Email", type = "email" })
                </li>
                <li class="input-prepend">
                    <span class="add-on"><i class="icon-asterisk"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "required requiredField", placeholder = "Password" })
                </li>
                <li class="input-prepend">
                    <span class="add-on"><i class="icon-asterisk"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "required requiredField", placeholder = "Confrim Password" })
                </li>
                <li>
                    <input type="submit" class="button-green button-small" value="Register">
                </li>
            </ul>
            <input type="hidden" name="submitted" id="submitted" value="true">
        }
    </div>
</div>