@model Polycore.Models.AddUserRoleViewModel
@{
    ViewBag.Title = "Add role to user";
}

<h2>Add role to @Model.UserName.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>        
        <select name="rolename">
            <option></option>
            @foreach(var item in Model.RoleList)
            {                
                <option value="@item.Name">@item.Name</option>
            }
        </select>

        <p class="validation-summary-errors">@ViewBag.ErrorResult</p>
    </div>
    
    <input type="submit" value="Add">
}

<p>
    @Html.ActionLink("Back", "DetailsUsers", new { id = Model.UserId })
</p>
