@model IEnumerable<Polycore.Models.ApplicationUser>
@{
    ViewBag.Title = "Users index";
    if (!User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Error.cshtml";
    }
}

@if (User.IsInRole("Administrator"))
{
<h2>User index.</h2>

<table class="tableUsers" id="select">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th></th>
    </tr> 
    
    @foreach (var item in Model)
    {
        <tr>
            <td onclick="location.href = '@(Url.Action("DetailsUsers", new { id = item.Id }))'">@item.UserName</td>
            <td onclick="location.href = '@(Url.Action("DetailsUsers", new { id = item.Id }))'">@item.Email</td>
            <td>
                @if (item.UserName != User.Identity.Name)
                {
                    @Ajax.ActionLink("Verwijderen", "DeleteUser", new { id = item.Id }, new AjaxOptions
               {
                   Confirm = "Are you sure user: " + item.UserName + " must be deleted?",
                   HttpMethod = "Post",
                   OnSuccess = "window.location.reload()"
               })
                }
            </td>
        </tr>
    }
</table>
<br />
<p>
    @Html.ActionLink("Back", "Dashboard")
</p>
}

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/SelectBar.js")
}
